# Ignore these files
**/__pycache__
**/outputs
**/repositories
**/venv
*.ckpt
.DS_Store
.ipynb_checkpoints

# Ignore node_modules and its child directories
node_modules/

src/stable-diffusion-webui/webui-user.sh
**/params.txt