@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans&display=swap');

@font-face {
  font-family: "Recoleta DEMO";
  src: local("Recoleta DEMO"),
    url("./fonts/Recoleta-Regular.otf")
    format("opentype");
}

body {
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
